<ul class="navbar-nav me-auto col-auto">
    <li class="nav-item my-auto">
        <a class="nav-link active text-light" aria-current="page"
            routerLink="/mantenimiento/programar">Programar Mantenimiento</a>
    </li>
    <li class="nav-item my-auto">
        <a class="nav-link active text-light" aria-current="page"
            routerLink="/actividad">Registrar Actividades de Mantenimiento</a>
    </li>
    <li class="nav-item my-auto">
        <a class="nav-link active text-light" aria-current="page" routerLink="/cartaGantt">Crear Carta
            Gantt</a>
    </li>
    <li class="nav-item my-auto">
        <a class="nav-link active text-light" aria-current="page" routerLink="/mantenimiento">Lista de
            Mantenimientos</a>
    </li>
    <li class="nav-item my-auto">
        <a class="nav-link active text-light" aria-current="page" routerLink="/cartaGantt/all">Lista de Cartas
            Gantt</a>
    </li>

    <li class="nav-item my-auto">
        <a class="nav-link active text-light" aria-current="page" (click)="logout()">Cerrar sesión</a>
    </li>
</ul>