<header class="mb-0">
  <div class="row justify-content-between">
    <h1 class="col-auto my-auto">Dulzón S.A</h1>
    <div class="col-auto row">
      <ul class="navbar-nav me-auto col-auto">
        <li class="nav-item my-auto">
          <a class="nav-link active text-light" aria-current="page" routerLink="/historico">Ingresar al historial</a>
        </li>
      </ul>
      <div class="col-auto">
        <img src="dulzon.png" alt="Dulzon" class="dulzon">
      </div>
    </div>
  </div>
</header>
<router-outlet class="container-fluid p-0">

</router-outlet>